.mini-calendar-header {
  display: flex;

  .mc-header {
    overflow: hidden;
    -ms-flex: 1 0;
    flex: 1 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 3px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 90%;
    min-height: 0;
    border-bottom: 1px solid #DDD;
  }
}
